{{#if shortURL}}
<div class="container">
  <h3>Success! Please use this link:</h3>
  <a class="d-flex" href="{{originalURL}}" target="_blank">
    <h4 class="shortURL">http://{{origin}}/{{shortURL}}</h4>
  </a>
  <button class="copy btn btn-primary" onclick="copyURL()">Copy</button>
</div>


<script>
  function copyURL() {
    let copyText = document.querySelector('.shortURL').textContent
    navigator.clipboard.writeText(copyText)
  }
</script>
{{else}}
<form action="/" method="POST">
  <div class="container">
    <input type="url" name="originalURL" placeholder="Input URL here" required />
    <button class="shorten" type="submit">Shorten URL</button>
  </div>
</form>
{{/if}}