{{#if shortURL}}
<div class="container">
  <h3>Success! Please use this link:</h3>
  <a class="d-flex" href="{{originalURL}}" target="_blank">
    <h4 class="shortURL">http://{{origin}}/{{shortURL}}</h4>
  </a>
  <button class="copy btn btn-primary ms-3" onclick="copyURL()">Copy</button>
</div>


<script>
  function copyURL() {
    let copyText = document.querySelector('.shortURL').textContent
    navigator.clipboard.writeText(copyText)
  }
</script>
{{else}}
<div class="container"></div>
  <form action="/" method="POST">
    <input type="url" name="originalURL" placeholder="Input URL here" required />
    <button class="btn btn-outline-primary" type="submit">Shorten URL</button>
  </form>
</div>
{{/if}}