body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  width:  500px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(141, 130, 150);
  font-weight: bold;
}

h4 {
  color: rgb(25, 25, 95);
  font-weight: bold;
}

h5 {
  color: rgb(26, 62, 87);
  margin-top: 0px;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

button.copy {
  width: 20%;
  background-color: rgb(132, 71, 64);
  /* border: 1px solid rgba(68, 33, 5, 0.662); */
  color: rgba(255, 255, 255, 0.893);
  padding: 0.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.backBtn {
  color: rgb(57, 15, 22);
  font-weight: bold;
}

.errorMsg {
  color: brown;
}

.errorUrl {
  color: black;
}

