body {
  display: flex;
  flex-direction: colum;
  align-items: center;
}

h1 {
  color: blueviolet;
  font-weight: bold;
}

h3 {
  color: blue;
  font-weight: bold;
}

h4 {
  color: rgb(26, 62, 87);
  margin-top: 0px;
}

img {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

button.copy {
  width: 30%;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(68, 33, 5, 0.662);
  color: rgba(206, 109, 61, 0.893);
  padding: 3.px;
  font-weight: bold;
  margin-bottom: 20px;
}

.errorMsg {
  color: brown;
}

.errorUrl {
  color: black;
}

